<header>
  <ul>
    <li>{{#link-to "songs"}}{{t "app.link-songs"}}{{/link-to}}</li>
    <li>{{#link-to "lists"}}{{t "app.link-lists"}}{{/link-to}}</li>
    <li><a {{action (route-action "logout")}}>{{t "app.link-logout"}}</a></li>
  </ul>
</header>

<div class="container">
  <main class="content">
    {{liquid-outlet}}
  </main>

  <aside class="sidebar">
    {{from-elsewhere name="sidebar"}}
  </aside>
</div>

<footer>

</footer>
