{{#if editUser}}
  {{to-elsewhere named="modal" send=(hash title="Account"
                                          body=(component "user-edit-form" changeset=changeset onSubmit=(route-action "saveUser" changeset) onCancel=(action (mut editUser) false) onLogout=(route-action "logout"))
                                          onOutsideClick=(action (mut editUser) false)
                                    )
  }}
{{/if}}

{{#burger-menu
  open=showMenu
  animation="push"
  width=300
  translucentOverlay=false
  dismissOnClick=false
  as |burger|}}

  {{#burger.menu}}
    {{partial "app/sidebar"}}
  {{/burger.menu}}

  {{#burger.outlet}}
    <a {{action burger.state.actions.toggle}}>
      {{svg-icon "ic_menu_24px"}}
    </a>

    <main>
      {{outlet}}
    </main>
  {{/burger.outlet}}

{{/burger-menu}}
