
{{#burger-menu
  open=showMenu
  animation="scale-rotate"
  position="right"
  translucentOverlay=false
  as |burger|
  }}

  {{#burger.menu itemTagName="li" as |menu|}}
    <header>
      <h1>Songbox</h1>
      <h2>Settings</h2>
    </header>
    <main>
      <ul>
        {{#menu.item}}
          {{settings-switch "nightMode" label="Night Mode"}}
        {{/menu.item}}
        {{#menu.item}}
          {{settings-switch "showHeader" label="Show Header"}}
        {{/menu.item}}
        {{#menu.item}}
          {{settings-switch "showChords" label="Show Chords"}}
        {{/menu.item}}
      </ul>
    </main>
  {{/burger.menu}}

  {{#burger.outlet class=(if settings.nightMode 'night-mode')}}
    <a {{action burger.state.actions.toggle}}>
      {{svg-icon "ic_menu_24px"}}
    </a>

    <main>
      {{song-sheet
        song=model
        showSectionHeaders=settings.showHeader
        showChords=settings.showChords
      }}
    </main>
  {{/burger.outlet}}

{{/burger-menu}}
