<div class="card-content">
  {{#if title}}
    <span class="card-title">{{title}}</span>
  {{/if}}
  {{yield}}
</div>
{{#if attrs.onsubmit}}
  <div class="card-action right-align">
    <button class="button" disabled={{buttonDisabled}} onclick={{attrs.onsubmit}}>
      {{buttonText}}
    </button>
  </div>
{{/if}}
